.post-list
	font-size 20px

	&__item
		margin-bottom 30px
		padding 16px
		background-color #f9f9f9

	&__img
		size 22.4% 184px

	&__info
		padding-left 2.3%
		display inline-block
		width 76%
		vertical-align top

	&__title
		font-size 24px
		line-height 42px

	&__text
		padding-bottom 20px

	&__wrapp
		text-align right

	&__detailed
		color #73a4fe
