.pagination
	position absolute
	bottom 3%
	width 100%
	text-align center

	li
		margin-right 12px
		display inline-block
		size 17px
		border-radius 50%
		border 3px solid #3a3a3c
		cursor pointer

	.slick-active
		background-color #f38126
		border 3px solid #f38126


	button
		font-size: 0;
		line-height: 0;
		display: block;
		width: 20px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;
