.specification
	display block
	font-size 14px

	&__row
		padding-top: 12px;
		margin-bottom 7px
		height 40px
		background-color #eceaea

	&__name
	&__value
		display inline-block
		vertical-align middle
		width 49%

	&__name
		padding-left 20px

