include ../menu/menu
include ../main-slider/main-slider
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col
include ../arrow/arrow
include ../our-partners/our-partners
include ../firms/firms
include ../title/title
include ../goods-slider/goods-slider

mixin index()
	+menu()
	.content
		+main-slider('arrow_main')(id='mainSlider')
		+firms()
		+title() Акции и распродажи
		+col()
			+goods-slider('arrow_sales')(id='salesSlider')
		+title() Новинки
		+col()
			+goods-slider('arrow_news')(id='newsSlider')
		+title() Популярный товар
		+col()
			+goods-slider('arrow_popular')(id='popularSlider')
		+col()
			+our-partners()


	//- .index
	//- 	+content()
	//- 		.index__group
	//- 			+subtitle() ЧТО ВКЛЮЧЕНО

	//- 		+heading() Инструменты:

	//- 		.index__group
	//- 			+list(getData('tools'))

	//- 		.index__group
	//- 			+subtitle() СТРУКТУРА ФАЙЛОВ

	//- 		+container()
	//- 			+col()
	//- 				+heading() Исходники
	//- 				+tree(getData('sourceTree'))

	//- 			+col()
	//- 				.index__arrow
	//- 					+arrow() Компиляция

	//- 			+col()
	//- 				+heading() Готовые файлы
	//- 				+tree(getData('buildTree'))

