include ../menu/menu
include ../main-slider/main-slider
include ../subtitle/subtitle
include ../heading/heading
include ../aside-menu/aside-menu
include ../col/col
include ../arrow/arrow
include ../our-partners/our-partners
include ../firms/firms
include ../title/title
include ../goods-slider/goods-slider

mixin index()
	+menu('js-toggle-menu')
	.content
		+col()(class='col_absolute')
			+aside-menu(['Ноутбуки и планшеты', 'Компьютеры и периферия', 'Комплектующие для пк',
				'Телефоны и смарт часы', 'Телевизоры и медиа', 'Игры и приставки', 'Аудиотехника'
				,'Фото и видеоаппаратура', 'Офисная техника и мебель', 'Автотовары', 'Встраиваемая техника',
				'Техника для кухни', 'Красота и здоровье', 'Товары для дома', 'Инструменты'])(class='is-collapsed js-aside-menu')
		+main-slider('arrow_main')(id='mainSlider')
		+firms()
		+title() Акции и распродажи
		+col()
			+goods-slider('arrow_sales')(id='salesSlider')
		+title() Новинки
		+col()
			+goods-slider('arrow_news')(id='newsSlider')
		+title() Популярный товар
		+col()
			+goods-slider('arrow_popular')(id='popularSlider')
		+col()
			+our-partners()
