mixin firms()
	.firms
		.firms__item
			img(src='assets/images/gravi.png')
		.firms__item
			img(src='assets/images/hammer.png')
		.firms__item
			img(src='assets/images/wezler.png')
		.firms__item
			img(src='assets/images/luga.png')

