mixin filter()
	.filter
		.filter__text Сортировать по:
		.filter__type-wrapp
			.filter__type.filter__type_popular Популярности
				.filter__toggle.filter__toggle_up
				.filter__toggle.filter__toggle_down
			.filter__type.filter__type_price Цене
				.filter__toggle.filter__toggle_up
				.filter__toggle.filter__toggle_down
			.filter__type.filter__type_name Наименованию
				.filter__toggle.filter__toggle_up
				.filter__toggle.filter__toggle_down
		.filter__view Вид:
			.filter__toggle.filter__toggle_list
			.filter__toggle.filter__toggle_table

