.prod
	padding-top 15px
	padding-left 15px
	width 860px
	background-color #f9f9f9
	font-size 16px

	&__img
	&__info
		display inline-block

	&__info
		padding-left 30px
		padding-left 5px
		vertical-align top


	&__title
		font-size 24px

	&__art
		font-size 18px
		padding-top 10px
		padding-bottom 30px

	&__price-old
		margin-right 25px
		position relative
		font-size 12px

		&:after
			position absolute
			left 0
			top 45%
			width 100%
			border-bottom 1px solid #ff6b38
			content ''

	&__price-new
		font-size 24px
		color #ff6b38

	&__counts
		margin-top 20px
		margin-bottom 30px

	&__card
	&__count
	&__count-text
		display inline-block

	&__description
		max-width 350px

	&__card
		margin-right 15px
		margin-bottom 15px
		border 1px solid #e1e1e1
		&:nth-child(n*3)
			margin-right 0

	&__card-img
		display block
		width 260px

	&__card-cat
		margin 7px 0
		padding-left 21px
		font-size 12px
		color #8e8e8f

	&__card-info
		padding-top 5px
		padding-left 10px
		padding-right 10px
		padding-bottom 10px
		display inline-block
		background-color #e1e1e1

	&__card-title
		font-size 16px

	&__card-price

		.prod__price-old
			margin-right 10px
			color #3a3a3c

		.prod__price-new
			font-size 19px
			color #3a3a3c

