.aside-menu
	position relative
	width 265px
	height 860px
	border 1px solid #ddd
	border-top 1px solid #ff6b38
	transition height .6s ease

	&.is-collapsed
		height 0
		overflow hidden
		transition height .6s ease

	&__item
		padding-left 18px
		border-bottom 1px solid #ff6b38
		background-color #fff

		&:hover
			border-left 4px solid #ff6b38


	&__item-link
		position relative
		font-size 12px
		line-height 45px
		cursor pointer

		&:hover
			color #ff6b38


		&:after
			position absolute
			right 10%
			top 40%
			size 9px
			border-right 3px solid #ff6b38
			border-bottom 3px solid #ff6b38
			transform rotate(-45deg)
			content ''

		&_actions
			font-size 13px
			color #2da7e0
			font-weight 600

	&__decor
		height 12px
		background-color #cdcdcd
