mixin aside-menu (data)
	.aside-menu&attributes(attributes)
		.aside-menu__list
			each item in data
				.aside-menu__item
					.aside-menu__item-link=item
			.aside-menu__decor
			.aside-menu__item
				.aside-menu__item-link.aside-menu__item-link_actions Акционные товары
			.aside-menu__item
				.aside-menu__item-link.aside-menu__item-link_actions Товары со скидкой
			.aside-menu__item
				.aside-menu__item-link.aside-menu__item-link_actions Уцененные товары




