.col
	margin-left auto
	margin-right auto
	font-size 0

	&_aside
		display inline-block
		vertical-align top

	&_pad
		padding-top 15px
		padding-left 15px

	&_absolute
		position absolute
		left 0
		top 0
		z-index 1
