.goods-slider
	position relative
	padding-left 67px
	padding-right 67px
	padding-top 14px
	padding-bottom 20px
	background-color #f2f2f2

	&__item
		padding-right 15px
		padding-left 15px
		width 163px

	&__title
		padding-top 18px
		padding-bottom 18px
		font-size 16px

	&__text
		font-size 12px

	&__price
		padding-top 15px
		padding-bottom 15px
		font-size 18px
		color #f38127
