.numbers
	margin-top 15px
	padding-left 20px
	padding-top 30px
	width 100%
	height 94px
	background-color #f9f9f9
	border-top 1px solid #e1e1e1

	&__item
		padding-right 18px
		display inline-block
		font-size 24px
		text-decoration none
		color #e1e1e1

		&.is-active
			color #f89729
