.partners
	padding-top 14px
	&__item
		margin-right 5px
		display inline-block

		&_google
			sprite $google
		&_twitter
			sprite $twitter
		&_facebook
			sprite $facebook
		&_vk
			sprite $vk
		&_mail
			sprite $footer_mail
		&_journal
			margin-right 0
			sprite $journal
