.menu
	height 50px
	line-height 50px
	font-size 0
	&__item
		padding-left 36px
		padding-right 36px
		display inline-block
		position relative
		color #fff
		font-size 18px
		background-color #f89729
		text-decoration none

		&.is-active
		&:hover
			background-color #f38126

		&_last
			padding-right 17px
			padding-left 11px

		&_sun_no
		&_sub
			padding-left 20px
			padding-right 52px
			&::after
				position absolute
				top 16px
				right 21px
				transform rotate(45deg)
				size(12px)
				border-right 2px solid #fff
				border-bottom 2px solid #fff
				content ''

		&_sun_no
			&:after
				display none
