include ../menu/menu
include ../numbers/numbers
include ../post-list/post-list
include ../col/col
include ../aside-menu/aside-menu
include ../title/title
include ../breadcrumbs/breadcrumbs

mixin news(data, postData, title)
	+menu('js-toggle-menu')
	+breadcrumbs(data)
	.content
		//- +col()(class='col_absolute')
		//- 	+aside-menu(['Ноутбуки и планшеты', 'Компьютеры и периферия', 'Комплектующие для пк',
		//- 		'Телефоны и смарт часы', 'Телевизоры и медиа', 'Игры и приставки', 'Аудиотехника'
		//- 		,'Фото и видеоаппаратура', 'Офисная техника и мебель', 'Автотовары', 'Встраиваемая техника',
		//- 		'Техника для кухни', 'Красота и здоровье', 'Товары для дома', 'Инструменты'])(class='is-collapsed js-aside-menu')
		+col()
			+title()=title
			+post-list(postData)
			+numbers()
