.input
	padding-top 2px
	position relative

	&__item
		padding-left 10px
		height 41px
		width 100%
		border 1px solid #000

	&_search
		&::after
			position absolute
			top 7px
			right 10px
			content ''
			sprite($search)
