.post
	padding-bottom 56px
	font-size 16px

	&__content
		margin-bottom 25px
		size 100% 500px
		border 1px solid #aeaeae

	&__btn-wrap
		clearfix()

	&__btn-left
		float left

	&__btn-right
		float right

	&__btn
		padding-top 8px
		display inline-block
		size 160px 30px
		font-size 14px
		color #fff
		text-align center
		text-decoration none
		background-color #f89729
		border-top-left-radius 3px
		border-top-right-radius 3px
		border-bottom-left-radius 3px
		border-bottom-right-radius 3px


