mixin our-partners()
	.our-partners
		.our-partners__item
			.our-partners__item-text Наши партнеры:
		.our-partners__item
			img(src='assets/images/yandex.png')
		.our-partners__item
			img(src='assets/images/zavod.png')
		.our-partners__item
			img(src='assets/images/netpeak.png')
		.our-partners__item
			img(src='assets/images/plaske.png')
		.our-partners__item
			img(src='assets/images/mami.png')
		.our-partners__item
			img(src='assets/images/eba.png')
